* {
    box-sizing: border-box;
}

body {
    background-color: #75B9BE;
    color: #393D3F;
    margin: 0;
}

a {
    color: blue;
}

.vegetarian {
    color: green;
}

.unknown {
    color: red;
    font-size: 15px;
}

#food {
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
}

.sidebar {
    background: linear-gradient(to right, aqua, aquamarine);
    width: 180px;
    height: 100%;
    padding: 10px;
}

.title {
    height: 60px;
    width: 100%;
    box-shadow: 5px 10px #888888;
    border-bottom: 1px solid black;
}

.container {
    position: relative;
    height: 1000px;
}

.content, .sidebar {
    position: absolute;
    top: 0;
}

.content {
    left: 200px;
    border: 2px dotted red;
    margin: 5px;
    padding: 0px 15px 10px 15px;
}