body {
    background-color: #75B9BE;
    color: #393D3F;
}

a {
    color: blue;
}

.vegetarian {
    color: green;
}

.unknown {
    color: red;
    font-size: 15px;
}

#food {
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
}

.sidebar {
    background: linear-gradient(to right, aqua, aquamarine);
    width: 190px;
    height: 100%;
}

.title {
    height: 60px;
    width: 100%;
    box-shadow: 5px 10px #888888;
}

.container {
    position: relative;
    height: 1000px;
}

.content, .sidebar {
    position: absolute;
    top: 0;
}

.content {
    left: 200px;
}